body {
  font-family: 'Your Futuristic Font', sans-serif; /* Replace 'Your Futuristic Font' with the actual font name */
  background-color: #f0f0f0; /* Background color */
}

.CalcContainer {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
}

.CalculatorTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.CalcDisplay {
  height: 60px;
  font-size: 2.5em;
  background: #fff;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
  border: 2px solid #34495e;
  margin-bottom: 20px;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.CalcButton {
  font-size: 2em;
  background: #95a5a6;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.CalcButton:hover {
  background: #7f8c8d;
  transform: scale(1.05);
}

.CalcButtonClear {
  background: #e74c3c; /* Red for Clear button */
}

.CalcButtonEqual {
  background: #3498db; /* Blue for Equal button */
}

.CalcButtonName {
  background: #2ecc71; /* Green for Name button */
}

.MySurnameButton {
  background: #27ae60;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.MySurnameButton {
  background: #2ecc71; /* Green for My Surname button */
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.MySurnameButton:hover {
  background: #27ae60;
  transform: scale(1.05);
}

.Name {
  margin-top: 20px;
}

.Surname {
  margin-top: 20px;
}
