body {
  font-family: 'Your Futuristic Font', sans-serif; /* Replace 'Your Futuristic Font' with the actual font name */
  background: linear-gradient(to bottom, #34495e, #2c3e50); /* Gradient background */
  color: #fff; /* Text color */
}

.CalcContainer {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #fff, #ecf0f1); /* Container background gradient */
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
}

.CalculatorTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #3498db; /* Blue title color */
}

.CalcDisplay {
  height: 60px;
  font-size: 2.5em;
  background: #fff;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
  border: 2px solid #3498db; /* Blue border */
  margin-bottom: 20px;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.CalcButton {
  font-size: 2em;
  background: linear-gradient(to bottom, #95a5a6, #7f8c8d); /* Button gradient */
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent; /* Transparent border for button */
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s, border-color 0.3s; /* Transition for hover effect */
}

.CalcButton:hover {
  background: linear-gradient(to bottom, #7f8c8d, #6d7a7b); /* Hover gradient */
  transform: scale(1.05);
  border-color: #34495e; /* Border color on hover */
}

.CalcButtonClear {
  background: #e74c3c; /* Red for Clear button */
}

.CalcButtonEqual {
  background: #3498db; /* Blue for Equal button */
}

.MySurnameButton {
  background: #27ae60;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.MySurnameButton:hover {
  background: #2ecc71; /* Green for My Surname button on hover */
  transform: scale(1.05);
}

.Name {
  margin-top: 20px;
}

.Surname {
  margin-top: 20px;
}
